%form-add-text {
    font-size: 15px;
    line-height: 17.58px;
    color: #d2d2d2;
}

.blog-articles {
    &__add-form {
        max-width: 600px;
        height: 74px;
        background: #121212;
        box-shadow: 0px 15px 25px 0px #00000073;
        border-radius: 5px;
        position: relative;
        margin-bottom: 30px;

        @media (max-width:400px){
            display: none;
        }
    }
    &__text {
        width: 100%;
        padding: 28px 130px 28px 28px;
        background-color: rgba(0, 0, 0, 0);
        @extend %form-add-text;
        &::placeholder {
            @extend %form-add-text;
        }
    }
    &__upload {
        position: absolute;
        top: 15px;
        right: 79px;
        width: 44px;
        height: 44px;
    }
    &__upload-input {
        position: absolute;
        z-index: -1;
        overflow: hidden;
        opacity: 0;
    }
    &__upload-label {
        cursor: pointer;
    }
    &__send {
        position: absolute;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        top: 15px;
        right: 20px;
        background-image: url("../images/index_content/send_btn.svg");
    }
    &__article {
        margin-bottom: 30px;
        &:last-of-type{
            margin-bottom: 549px;
        }

        @media (max-width:980px){
            &:last-of-type{
                margin-bottom: 50px;
            }
        }

        @media (max-width:320px){
            &:nth-of-type(3){
                margin-bottom: 50px;
            }
        }

    }
}

.sh-article {
    background: #202020;
    box-shadow: 0px 15px 25px 0px #00000059;
    border-radius: 5px;
    &:nth-of-type(2){
        display: none;
    }
    @media (max-width:320px){
        &:nth-of-type(2){
            display: block;
        }
        &:last-of-type{
            display: none;
        }
    }
    &__container {
        padding: 25px 27.78px 44px 27.78px;

        @media (max-width:320px){
            padding: 13px 15px 18px 15px;
        }
    }
    &__text {
        margin-bottom: 15px;
    }
    &__video {
        padding: 25px 25px 0px;
        @media (max-width:320px){
            padding: 0;
        }
    }
    &__video-container{
        position: relative;
        max-height: 280px;
    }
    &__video-item, &__img {
        width: 100%;
        height: auto;
        min-height: 205px;
        object-fit: cover;
    }
    &__img-container{
        background-color:#C4C4C4;
    }
    &__round-top{
        border-radius: 5px 5px 0px 0px;
    }
    &__video-play {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &__bottom {
        display: grid;
        grid-template-columns: 210px 154px;
        gap:17px;
        justify-content: space-between;
        justify-items: end;
        align-items: center;

        @media (max-width:870px){
            grid-template-columns: 1fr;
            justify-items: start;
        }
    }
    &__comment {
        font-size: 14px;
        line-height: 16.41px;
        color: #107eff;
    }
    &__title {
        margin-bottom: 19px;
    }
}
