.blog-stories{
    display: grid;
    grid-template-columns: repeat(4, 140px);
    justify-content: center;
    column-gap: 13px;

    @media (max-width:980px){
        grid-template-columns: repeat(auto-fit, 140px);
    }

    @media (max-width:400px){
        grid-template-columns: repeat(2, 140px);
    }

    &__item{
        cursor: pointer;
        display: block;
        position: relative;
        color: inherit;

        @media (max-width:980px){
            &:last-child{
                display: none;
            }
        }

        @media (max-width:860px){
            &:nth-child(3){
                display: none;
            }
        }

        @media (max-width:660px){
            &:nth-child(3){
                display: block;
            }
        }

        @media (max-width:500px){
            &:nth-child(3){
                display: none;
            }
        }
    }
    &__img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    &__text{
        max-width: 110px;
        position: absolute;
        top:14px;
        left: 13px;
        @extend %stories_dates;
        padding-right: 10px;
    }
    &__date{
        max-width: 61px;
        position: absolute;
        bottom: 12px;
        right: 16px;
        @extend %stories_dates;
    }
}
