.profile{
    &__title{
        margin-bottom: 60px;
    }
    &__input{
        display: grid;
        grid-template-columns: minmax(150px, 340px) 150px;
        column-gap: 110px;

        @media (max-width:830px){
            column-gap: 20px;
        }
        @media (max-width:660px){
            column-gap: 110px;
        }
        @media (max-width:450px){
            grid-template-columns: 300px;
        }
    }
    &__input-field{
        @extend %inputs;
    }
    &__data-input{
        @media (max-width:450px){
            order:2;
        }
    }
    &__avatar{
        @media (max-width:450px){
            max-width: 150px;
            margin-bottom: 40px;
            order:1;
        }
    }
    &__avatar-img{
        width: 150px;
        height: 150px;
        margin-bottom: 15px;
        background-color:#C4C4C4;
        box-shadow: 0px 5px 15px 0px #00000040;
    }
    &__avatar-input{
        display: none;
    }
    &__avatar-label{
        @extend %inputs-text;
        color:#107EFF;
        cursor: pointer;
    }
    &__submit{
        @extend %submit-buttons;
    }
}
