<div class="auth">
    <h1 class="auth__title other-title">Профиль</h1>
    <form class="auth__inputs" action="#">
        <input class="auth__input auth__input--blue" type="text" name="login" id="login" placeholder="Логин" value="alex.provo@mail.com">
        <input class="auth__input" type="password" name="passwd" id="passwd" placeholder="Пароль">
        <button class="auth__submit" type="submit">Войти</button>
    </form>
    <div class="auth__bottom">
        <a class="auth__forget" href="#">восстановить</a>
        <a class="auth__forget" href="#">регистрация</a>
    </div>
</div>
