<div class="blog-main__content">
    <section class="blog-main__stories">
        <div class="blog-stories">
            <a class="blog-stories__item" href="#">
                <picture>
                    <source srcset="/images/index_content/having_a_rest.avif" type="image/avif">
                    <source srcset="/images/index_content/having_a_rest.webp" type="image/webp">
                    <img class="blog-stories__img" src="/images/index_content/having_a_rest.png"
                        alt="rest" loading="lazy" width="140px" height="195px">
                </picture>
                <p class="blog-stories__text">Отдыхаю на природе</p>
                <p class="blog-stories__date">21.09.2020</p>
            </a>
            <a class="blog-stories__item" href="#">
                <picture>
                    <source srcset="/images/index_content/complex_project.avif" type="image/avif">
                    <source srcset="/images/index_content/complex_project.webp" type="image/webp">
                    <img class="blog-stories__img" src="/images/index_content/complex_project.png"
                        alt="project" loading="lazy" width="140px" height="195px">
                </picture>
                <p class="blog-stories__text">Заканчиваю сложный проект</p>
                <p class="blog-stories__date">15.09.2020</p>
            </a>
            <a class="blog-stories__item" href="#">
                <picture>
                    <source srcset="/images/index_content/move_to_new_appartment.avif"
                        type="image/avif">
                    <source srcset="/images/index_content/move_to_new_appartment.webp"
                        type="image/webp">
                    <img class="blog-stories__img"
                        src="/images/index_content/move_to_new_appartment.png" alt="appartment"
                        loading="lazy" width="140px" height="195px">
                </picture>
                <p class="blog-stories__text">Переехал в новую квартиру</p>
                <p class="blog-stories__date">11.09.2020</p>
            </a>
            <a class="blog-stories__item" href="#">
                <picture>
                    <source srcset="/images/index_content/autmn_is_here.avif" type="image/avif">
                    <source srcset="/images/index_content/autmn_is_here.webp" type="image/webp">
                    <img class="blog-stories__img" src="/images/index_content/autmn_is_here.png"
                        alt="autmn" loading="lazy" width="140px" height="195px">
                </picture>
                <p class="blog-stories__text">Осень пришла!</p>
                <p class="blog-stories__date">28.08.2020</p>
            </a>
        </div>

    </section>


    <section class="blog-articles">
        <form class="blog-articles__add-form" action="#">
            <input class="blog-articles__text" type="text" name="" id=""
                placeholder="Напишите что-нибудь">

            <div class="blog-articles__upload">
                <input class="blog-articles__upload-input" type="file" name="file"
                    id="upload-input">
                <label class="blog-articles__upload-label" for="upload-input">
                    <img src="/images/index_content/photo_btn.svg" alt="Photo">
                </label>
            </div>

            <button class="blog-articles__send" type="submit"></button>
        </form>
        <article class="sh-article blog-articles__article">
            <div class="sh-article__container">
                <p class="sh-article__text article-text">Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit.
                    Elementum volutpat orci turpis urna. Et vestibulum, posuere tortor lacinia sit.
                    Sagittis
                    porttitor orci auctor in at tincidunt arcu egestas. Fusce arcu sodales lacinia
                    eu auctor
                    nunc nam id. Diam sit sed volutpat massa. Egestas ornare vel volutpat.</p>
                    <div class="date-menu">
                        <p class="date-menu__date">21.06.2020</p>
                    </div>
            </div>
        </article>
        <article class="sh-article blog-articles__article">
            <div class="sh-article__container">
                <div class="sh-article__video">
                    <!-- по идее здесь должен быть video тег -->
                    <img class="sh-article__img" src="/images/index_content/laptop_new.png" alt=""
                        width="550px" height="280px">
                    <img class="sh-article__video-play" src="/images/index_content/play.svg"
                        alt="" width="75px" height="75px">
                </div>
                <h2 class="sh-article__title article-title">Купил новый ноутбук за 150 000 руб</h2>
                <div class="sh-article__bottom">
                    <div class="date-menu">
                        <p class="date-menu__date">21.06.2020</p>
                        <div class="date-menu__circle"></div>
                        <p class="date-menu__date">продвижение видео</p>
                    </div>
                    <a class="sh-article__comment" href="#">оставить комментарий</a>
                </div>
            </div>
        </article>
        <article class="sh-article blog-articles__article">
            <img class="sh-article__img" src="/images/index_content/conf_participants.jpg" alt=""
                width="600px" height="283px">
            <div class="sh-article__container">
                <h2 class="sh-article__title article-title">Как я сходил на FrontEnd Conf 2021</h2>
                <p class="sh-article__text article-text">Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit.
                    Elementum volutpat orci turpis urna. Et vestibulum, posuere tortor lacinia sit.
                    Sagittis
                    porttitor orci auctor in at tincidunt arcu egestas. Fusce arcu sodales lacinia
                    eu auctor
                    nunc nam id. Diam sit sed volutpat massa. Egestas ornare vel volutpat.</p>
                <div class="sh-article__bottom">
                    <div class="date-menu">
                        <p class="date-menu__date">21.06.2020</p>
                        <div class="date-menu__circle"></div>
                        <p class="date-menu__date">создание сайтов</p>
                    </div>
                    <a class="sh-article__comment" href="#">читать</a>
                </div>
            </div>
        </article>
    </section>
</div>
<div class="blog-pagination blog-main__pagination">
    <div class="blog-pagination__item">&lt;</div>
    <div class="blog-pagination__item">1</div>
    <div class="blog-pagination__item blog-pagination--active">2</div>
    <div class="blog-pagination__item">3</div>
    <div class="blog-pagination__item">&gt;</div>
</div>
