<div class="menu-burger">
    <div class="menu-burger__top">
        <button class="menu-burger__btn">
            <span class="menu-burger__btn-line"></span>
            <span class="menu-burger__btn-line"></span>
            <span class="menu-burger__btn-line"></span>
        </button>
        <form class="menu-burger__search" action="#">
            <input class="menu-burger__search-input" type="text" placeholder="Поиск по блогу">
        </form>
    </div>
    <div class="menu-burger__menu">
        <div class="menu-burger__pictures">
            <picture>
                <source srcset="images/col_summary/laptop2.avif" type="image/avif">
                <source srcset="images/col_summary/laptop2.webp" type="image/webp">
                <img class="menu-burger__laptop" src="images/col_summary/laptop2.jpg" alt="">
            </picture>
            <img class="menu-burger__rolan" src="images/col_summary/Rolan.svg" alt="laptopDesk">
            <h2 class="menu-burger__title">Ролан Закиров</h2>
            <p class="menu-burger__subtitle">блог front-end разработчика</p>
        </div>
        <div class="menu-burger__menu-links">
            <div class="menu-burger__links menu-burger__links--first">
                <p class="menu-burger__link-first">Статьи</p>
                <div class="menu-burger__links menu-burger__articles">
                    <a href="#" class="menu-burger__link-second">Создание сайтов</a>
                    <a href="#" class="menu-burger__link-second">Интернет-маркетинг</a>
                    <a href="#" class="menu-burger__link-second">Продвижение видео</a>
                </div>
                </a>
                <a href="#" class="menu-burger__link-first menu-burger--blue">Обо мне</a>
                <a href="#" class="menu-burger__link-first">Реклама</a>
                <a href="profile.html" class="menu-burger__link-first">Профиль</a>
            </div>
        </div>
            <div class="contacts-links menu-burger__bottom">
                <a class="contacts-links__link contacts-links--orange" href="#">Мои работы</a>
                <a class="contacts-links__link contacts-links--blue " href="#modal-contacts">Написать мне</a>
            </div>
    </div>
</div>
