<div class="modal-contacts" id="modal-contacts">
    <div class="modal-contacts__body">
        <div class="modal-contacts__content">
            <form class="modal-contacts__form" action="#">
                <input class="modal-contacts__input modal-contacts__input--blue" type="text" placeholder="Имя Фамилия" value="Ролан Закиров">
                <input class="modal-contacts__input" type="email" placeholder="Ваш e-mail">
                <input class="modal-contacts__input" type="text" placeholder="Текст сообщения">
                <button class="modal-contacts__button" type="submit">Отправить</button>
            </form>
            <div class="modal-contacts__menu">
                <p class="modal-contacts__item">e-mail:<a href="mailto:info@mywebsite.ru">info@mywebsite.ru</a></p>
                <p class="modal-contacts__item">тел:<a href="tel:+943-232-856-22">+943-232-856-22</a></p>
            </div>
            <a href="#" class="modal-contacts__close"></a>
        </div>
    </div>
</div>
