<div class="modal-share" id="modal-share">
    <div class="modal-share__body">
        <div class="modal-share__content">
            <a href="#" class="modal-share__close"><img src="images/modal-share/cancel.svg" alt="Close"></a>
            <div class="modal-share__menu">
                <div class="modal-share__github">
                    <a href="#"><img class="modal-share__menu-item" src="images/modal-share/GitHub.svg" alt="GitHub"></a>
                </div>
                <div class="modal-share__social">
                    <a href="#"><img class="modal-share__menu-item" src="images/modal-share/facebook.svg" alt="Facebook"></a>
                    <a href="#"><img class="modal-share__menu-item" src="images/modal-share/twitter.svg" alt="Twitter"></a>
                    <a href="#"><img class="modal-share__menu-item" src="images/modal-share/vk.svg" alt="VK"></a>
                    <a href="#"><img class="modal-share__menu-item" src="images/modal-share/copy.svg" alt="Copy"></a>
                </div>
            </div>
        </div>
    </div>
</div>
