<div class="modal-story" id="modal-story-1">
    <div class="modal-story__body">
        <div class="modal-story__content">
            <video class="modal-story__video" poster="images/modal-video/postr.jpg" src="video/2022-08-14 18-14-50.mp4"></video>
            <div class="modal-story__play"></div>
            <div class="modal-story__progress-bar">
                <div class="modal-story__progress"></div>
            </div>
        </div>
    </div>
</div>
<div class="modal-story" id="modal-story-2">
    <div class="modal-story__body">
        <div class="modal-story__content">
            <video class="modal-story__video" poster="images/modal-video/postr.jpg" src="video/2022-08-14 18-14-50.mp4"></video>
            <div class="modal-story__play"></div>
            <div class="modal-story__progress-bar">
                <div class="modal-story__progress"></div>
            </div>
        </div>
    </div>
</div>
<div class="modal-story" id="modal-story-3">
    <div class="modal-story__body">
        <div class="modal-story__content">
            <video class="modal-story__video" poster="images/modal-video/postr.jpg" src="video/2022-08-14 18-14-50.mp4"></video>
            <div class="modal-story__play"></div>
            <div class="modal-story__progress-bar">
                <div class="modal-story__progress"></div>
            </div>
        </div>
    </div>
</div>
<div class="modal-story" id="modal-story-4">
    <div class="modal-story__body">
        <div class="modal-story__content">
            <video class="modal-story__video" poster="images/modal-video/postr.jpg" src="video/2022-08-14 18-14-50.mp4"></video>
            <div class="modal-story__play"></div>
            <div class="modal-story__progress-bar">
                <div class="modal-story__progress"></div>
            </div>
        </div>
    </div>
</div>
