<div class="only-article">
    <div class="only-article__top">
        <a href="#" class="only-article__top-item">вернуться назад</a>
        <a href="#modal-share" class="only-article__top-item">поделиться
            <img class="only-article__share" src="images/textpage_content/share.svg" alt="Share">
        </a>
    </div>
    <h2 class="only-article__title article-title">Как создавать сайты легко</h2>
    <div class="date-menu only-article__date-menu">
        <p class="date-menu__date">21.06.2020</p>
        <div class="date-menu__circle"></div>
        <p class="date-menu__date">создание сайтов</p>
    </div>
    <p class="only-article__text article-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elementum
        volutpat orci turpis
        urna. Et vestibulum, posuere tortor lacinia sit. Sagittis porttitor orci auctor in at tincidunt arcu egestas.
        Fusce arcu sodales lacinia eu auctor nunc nam id. Diam sit sed volutpat massa. Egestas ornare vel volutpat.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elementum volutpat orci turpis urna. Et vestibulum,
        posuere tortor lacinia sit. Sagittis porttitor orci auctor in at tincidunt arcu egestas. Fusce arcu sodales
        lacinia eu auctor nunc nam id. Diam sit sed volutpat massa. Egestas ornare vel volutpat.
    </p>
    <p class="only-article__text article-text">Lorem ipsum dolor sit
        amet, consectetur adipiscing elit. Elementum volutpat orci turpis urna. Et vestibulum, posuere tortor lacinia
        sit. Sagittis porttitor orci auctor in at tincidunt arcu egestas. Fusce arcu sodales lacinia eu auctor nunc nam
        id. Diam sit sed volutpat massa. Egestas ornare vel volutpat.</p>
    <picture>
        <source srcset="images/textpage_content/image.avif" type="image/avif">
        <source srcset="images/textpage_content/image.webp" type="image/webp">
        <img class="only-article__img" src="images/textpage_content/image.jpg" alt="" loading="lazy" width="550px"
            height="229px">
    </picture>
    <p class="only-article__text article-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elementum
        volutpat orci turpis
        urna. Et vestibulum, posuere tortor lacinia sit. Sagittis porttitor orci auctor in at tincidunt arcu egestas.
        Fusce arcu sodales lacinia eu auctor nunc nam id. Diam sit sed volutpat massa. Egestas ornare vel volutpat.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elementum volutpat orci turpis urna. Et vestibulum,
        posuere tortor lacinia sit. Sagittis porttitor orci auctor in at tincidunt arcu egestas. Fusce arcu sodales
        lacinia eu auctor nunc nam id. Diam sit sed volutpat massa. Egestas ornare vel volutpat.
    </p>
    <div class="only-article__line"></div>
    <h3 class="only-article__subtitle article-subtitle">Интересно почитать</h3>
    <div class="read-interest only-article__interest">
        <div class="read-interest__item">
            <a class="read-interest__title" href="#">Как я сходил на FrontEnd Conf 2021</a>
            <div class="date-menu">
                <p class="date-menu__date">21.06.2020</p>
            </div>
        </div>
        <div class="read-interest__item">
            <a class="read-interest__title" href="#">Как писать код быстро и ...</a>
            <div class="date-menu">
                <p class="date-menu__date">21.06.2020</p>
            </div>
        </div>
        <div class="read-interest__item">
            <a class="read-interest__title" href="#">Купил новый ноутбук за 150 000 руб</a>
            <div class="date-menu">
                <p class="date-menu__date">21.06.2020</p>
            </div>
        </div>
        <div class="read-interest__item">
            <a class="read-interest__title" href="#">Купил новый ноутбук за 150 000 руб</a>
            <div class="date-menu">
                <p class="date-menu__date">21.06.2020</p>
            </div>
        </div>
    </div>
    <h3 class="only-article__subtitle article-subtitle">Обсуждение</h3>
    <form class="only-article__comment-form comment-form" action="#">
        <input class="comment-form__text-input" type="text" placeholder="Текст комментария">
        <button class="comment-form__submit" type="submit">Отправить</button>
    </form>
    <article class="article-comments">
        <dl class="article-comments__list">
            <dt class="article-comments__main">
                <div class="article-comments__user">
                    <div class="article-comments__user-photo"></div>
                    <div class="article-comments__user-data">
                        <div class="article-comments__username">Дмитрий Валак</div>
                        <div class="article-comments__lastvisit">1 неделю назад</div>
                    </div>
                </div>
                <p class="article-comments__text">Et vestibulum, posuere tortor lacinia sit. Sagittis porttitor orci
                    auctor in at tincidunt arcu egestas. Fusce arcu sodales lacinia eu auctor nunc nam id. Diam sit sed
                    volutpat massa. Egestas ornare vel volutpat.</p>
                <a class="article-comments__answer" href="#">ответить</a>
            </dt>
            <dd class="article-comments__reply-main">
                <div class="article-comments__user">
                    <img class="article-comments__user-photo" src="images/textpage_content/user2.svg" alt="userphoto">
                    <div class="article-comments__user-data">
                        <div class="article-comments__username">Джонни</div>
                        <div class="article-comments__lastvisit">1 неделю назад</div>
                    </div>
                </div>
                <p class="article-comments__text">Et vestibulum, posuere tortor lacinia sit. Sagittis porttitor orci
                    auctor in at tincidunt arcu egestas. Fusce arcu sodales lacinia eu auctor nunc nam id. Diam sit sed
                    volutpat massa. Egestas ornare vel volutpat.</p>
                <a class="article-comments__answer" href="#">ответить</a>
            </dd>
        </dl>
    </article>
</div>
